@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: white;
  min-height: 100dvh;
<<<<<<< HEAD
  background: url('/img/gambarpal.jpg') no-repeat center center fixed;
  background-size: cover;
}

body p {
  color: #2d4059;
=======
>>>>>>> 5a054693151f735fd8ec817852e618634e8ce503
}

body .content-wrapper {
  background-color: transparent !important;
}

body .content-wrapper .btn-primary {
  background-color: #0B2447; 
}

body .content-wrapper .breadcrumb-item {
  font-size: 14px;
}

body .content-wrapper .breadcrumb-item a {
  color: #2d4059;
}

body .content-wrapper .breadcrumb-item a:hover {
  text-decoration: underline !important;
}

body .content-wrapper .breadcrumb-item.active {
  color: #648bbf;
}

body .content-wrapper .head-title {
  font-size: 24px;
  letter-spacing: -2px;
}

@media (max-width: 991.98px) {
  body .content-wrapper .head-title {
    font-size: 20px;
    letter-spacing: -1px;
  }
}

@media (max-width: 767.98px) {
  body .content-wrapper .head-title {
    font-size: 12px;
    letter-spacing: 0px;
  }
}

body .content-wrapper ::-moz-placeholder {
  color: #b0a8a8;
}

body .content-wrapper ::placeholder {
  color: #b0a8a8;
}

body .content-wrapper .main-title {
  font-size: 35px;
  letter-spacing: -2px;
}

@media (max-width: 991.98px) {
  body .content-wrapper .main-title {
    font-size: 28px;
    letter-spacing: -1px;
  }
}

@media (max-width: 767.98px) {
  body .content-wrapper .main-title {
    font-size: 16px;
    letter-spacing: 0px;
  }
}

body .content-wrapper .jti-logo {
  max-width: 225px;
}

@media (max-width: 991.98px) {
  body .content-wrapper .jti-logo {
    max-width: 140px;
  }
}

@media (max-width: 767.98px) {
  body .content-wrapper .jti-logo {
    max-width: 100px;
  }
}

body .content-wrapper .search-wrapper {
  z-index: 900;
}

body .content-wrapper .search-wrapper.active {
  background-color: #E6E6E6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body .content-wrapper .search-wrapper.active .suggestion-box {
  display: block;
}

body .content-wrapper .search-wrapper.active .suggestion-box .suggestion-item:hover {
  background-color: #19376D;
  color: white;
  cursor: pointer;
}

body .content-wrapper .suggestion-box {
  display: none;
  background-color: #E6E6E6;
}

body .content-wrapper .input-group {
  width: 100%;
  background-color: #E6E6E6;
  border: 1px solid rgba(255, 255, 255, 0.23);
  box-shadow: -1px 24px 26px -8px rgba(0, 0, 0, 0.15);
}

body .content-wrapper .input-group .search-input {
  font-size: 20px;
  background-color: #ffff; /* Warna latar belakang input */
}

@media (max-width: 991.98px) {
  body .content-wrapper .input-group .search-input {
    font-size: 16px;
  }
}

body .content-wrapper .year-input {
  border-radius: 8px !important;
}

body .content-wrapper .btn-apply {
  background-color: #19376D;
  color: white;
  font-size: 16px;
}

body .content-wrapper .main-content {
  margin-top: 12%;
}

@media (max-width: 991.98px) {
  body .content-wrapper .main-content {
    margin-top: 20%;
  }
}

@media (max-width: 767.98px) {
  body .content-wrapper .main-content {
    margin-top: 30%;
  }
}

@media (max-width: 575.98px) {
  body .content-wrapper .main-content {
    margin-top: 40%;
  }
}

body .content-wrapper .content {
  z-index: 800;
}

body .content-wrapper .content .filter-box {
  background-color: #E6E6E6;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

body .content-wrapper .content .filter-box input::-webkit-outer-spin-button,
body .content-wrapper .content .filter-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body .content-wrapper .content .filter-box input[type=number] {
  -moz-appearance: textfield;
}

body .content-wrapper .content .thesis-list-box .pagination-nav {
  font-size: 12px;
}

body .content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-title {
  font-size: 20px;
  color: #19376D;
}

@media (max-width: 991.98px) {
  body .content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-title {
    font-size: 16px;
  }
}

body .content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-title:hover {
  text-decoration: underline !important;
}

body .content-wrapper .content .thesis-list-box .thesis-box .thesis-item a.thesis-identity:hover {
  text-decoration: underline !important;
}

body .content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-identity {
  font-size: 12px;
  color: #576CBC;
}

body .content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-abstract {
  font-size: 12px;
  color: #2d4059;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}